* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(201, 239, 145);
}
#container{
   width: 100%;
   height: 100vh;
   margin:0;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
   grid-template-areas: 
              "nav nav nav nav"
              "cat cat cat cat"
              "sli sli sli sli"
              "ma  ma  ma  ma"
              "fo  fo  fo  fo";
}
#navbar {
   text-align: center;
   align-items: center;
   grid-area: nav;
   width: 100%;
   height: 100%;
   background-image: url("src/img5.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: right 35% bottom 45%;
   border-bottom-right-radius: 33px;
   border-bottom-left-radius: 33px;
   box-shadow:  0px 19px 22px -12px black;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "logBar  navBar"
                        "headBar headBar"
                        ;
}
.make-center{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   padding: 10px;
}
.make-center p {
   font-size: 12px;
   font-weight: bolder;
}
/* this is  nav bar link */
/* =================navBox1====================== */
#navBox1 {
   grid-area: navBar;
   display: flex;
   justify-content: space-between;
   margin: 12px;
}
#navBox1 a {
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 23px;
}
#navBox1 a:hover{
   color: rgb(238, 175, 48);
   filter: drop-shadow(5px 15px 15px black);
}
#iconNavBox{
   width: 100%;
   display: flex;      /* pick this attribute from site*/
   vertical-align: middle;
   align-items: center;
   justify-content: right;
   
}
.iconNav {
   width: 32px;
   height: 32px;
}
.iconNav:hover {
   cursor: pointer;
   filter: drop-shadow(5px 5px 15px black);
}
/* =================navBox2====================== */
#navBox2 {
   grid-area: logBar;
   display: flex;
   margin-top: 3%;
   margin-left: 12%; 
}
/* =================navBox3====================== */
#navBox3 {
   grid-area: headBar;
   display: grid;
   align-content: center;
   align-items: center;
}
#navBox3 h1 {
   font-weight: bolder;
   color: black;
   font-size: 66px;
   font-family: system-ui, -apple-system;
}
/* ======================slider===================== */
.slider {
   grid-area: sli;
   width: 100%;
   padding: 16px;
   margin-top: 32px;
   margin-bottom: 32px;
   border-bottom: 1px solid black;
   
}
.slideshow-container{
   width: 90%;
   margin: auto;
   position: relative;
}
.mySlides {
   display: none;
}
/* Next & previous buttons */
.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 
 /* Position the "next button" to the right */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 /* On hover, add a black background color with a little bit see-through */
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 
 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
/* ===============category==========================*/
.category{
   grid-area: cat;
   display: inline-flex;
   justify-content: space-around;
   width: 80%;
   margin: 33px auto ;
   align-content: center;
   align-items: center;
}
.categoryBox{
   width: 66px;
   height: 66px;
   border: 1px solid black;
   border-radius: 50%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.categoryBox:hover {
   border: 2px solid lightgreen;
   background-color: rgba(133, 242, 45, 0.2);
   cursor: pointer;
}
.categoryImg{
   width: 23px;
   height: 23px;
}
/* ===================Main==========================*/
#mainSection {
   grid-area: ma;

   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   margin: 12px 6px;   
   align-content: center;
   justify-content: center;
}
.cardShop{
   width: 88%;
   height: 230px;
   background-color: rgb(228, 227, 227, 0.6);
   border-radius: 22px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 2px 4px 6px rgb(145, 144, 144);
   margin: 2px;
}
.cardShop p{
   color: rgb(116, 113, 113);
   font-size: 12px;
}
.cardImgShop{
   width: 130px;
   height: 140px;
   border-radius: 16px;
}
.cardPlusShop {
   width: 18px;
   height: 18px;
}
.cardPlusShop:hover {
   cursor: pointer;
   background-color: lightgreen;
   border-radius: 50%;
}
.cardShopCart{
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-content: center;
   align-items: center;
}
.cardShopCart p{
   text-decoration: line-through;
   color: red;
}
/* ===================Footer==========================*/
.footer {
   grid-area: fo;
   width: 100%;
   
   background-image: url("src/img6.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: right 35% bottom 45%;
   border-top-left-radius: 33px;
   border-top-right-radius: 33px;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 3fr 1fr;
   grid-template-areas: "fet1"
                        "fet2";
   justify-content: center;
   align-items: center;
}
.boxFoot{
   grid-area: fet1;
   width: 100%;
    
   margin-top: 33px;
   margin-bottom: 33px;
   display: grid;
   grid-template-columns: 4fr 1fr 1fr ;
   grid-template-rows: 1fr;
   grid-template-areas: "fd1 fd2 fd3"; 
   justify-content: flex-start;
   align-items: center;
}
.aFoot{
   text-decoration: none;
   color: black;
}
.aFoot:hover {
   color: lightgreen;
}
#logofoot{
   grid-area: fd1;
   display: flex;
   
   margin-left: 33px;
}
#fbox1{
   grid-area: fd2;
   width: 110px;
   display: flex;
   flex-direction: column;
  
}
#fbox2 {
   grid-area: fd3;
   width: 110px;
   display: flex;
   flex-direction: column;
   
}
.copyFot{
   grid-area: fet2;
   width: 100%;
   border-top: 1px solid black;
   text-align: center;

}
